@model Data.Data.Magazyn.Produkt
@{
    ViewData["Title"] = "Szczegoły Produktu";
    Layout = "~/Views/Shared/_MagazynLayout.cshtml";
}

<div>Foto</div>
<div>Nazwa: @Model.Nazwa</div>
<div>Kod: @Model.Kod</div>
<div>Opis: @Model.Opis</div>
<div>Stan minimalny: @Model.StanMinimalny</div>
<div>Punkt zamówienia: @Model.PunktPonownegoZamowienia</div>